body{
    margin-left: 400px;
    margin-right: 400px;
    outline: 1px solid black;
    outline-offset: 10px;
}

.h1{
    font-weight:bolder;
    font-size: 10px;  
    text-align: right;
}        
.adress{
      font-style: italic;
      text-align: right;

.whoname{
 text-align: right;
}      


.h2{
    font-family: 'Comforter Brush', cursive;
    text-decoration: underline;
    font-weight: normal;
    
}
.text{
  font-family: 'Comforter Brush', cursive;
  text-indent: 5mm;
  text-align: justify;
}
